.cl-effect-15 #logoLink {
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 30px;
}

#mobileMenuTrigger {
    display: none;
    font-size: 20px;
}

#mobileMenuContainer {
    grid-column: 1 / 4;
    display: none;
}

#mobileMenu {
    display: grid;
}

#mobileMenuTrigger:hover {
	color: #f2f2f2;
}

.thumbnails .box {
    height: 650px;
    grid-template-rows: auto auto;
    display: grid !important;
    align-items: center;
}

.box .image.fit {
    max-width: 250px;
    text-align: center;
    margin: 0 auto;
}

.alt > img {
    float: right;
}

.alt > h2 {
    text-align: left !important;
}

.section-heading {
    text-align: center;
    color: rgba(250, 250, 250, 0.7);
}

.slick-dots li button:before {
    color: #fafafa !important;
}

.adv-modal > div > div > h1 {
    color: #fafafa;
    font-size: 24px;
}

.adv-modal > div {
    background: #202024;
}

.adv-modal > div .tingle-modal-box__footer {
    background: #2c2c32;
}

.adv-form {
    margin: 0;
}

.adv-form input, .adv-form textarea {
    margin: 15px 0px 15px 0px;
}

.adv-form input:focus, .adv-form textarea:focus, .adv-form select:focus {
    transition: .1s all ease-in-out;
    border-color: #414144 !important;
    box-shadow: 0 0 0 1px #414144 !important;
}

.adv-form textarea {
    resize: none;
}

.adv-form p {
    margin: 0;
    padding: 0;
}

#paypal-adv-button {
    text-align: center;
}

.warning-message {
    color: #f5c6cb;
    font-weight: bold;
}

.good-input {
    color: #c3e6cb;
    font-weight: bold;
}

.tosContainer {
    align-items: center;
}

#tos, #privacy {
    -webkit-appearance: checkbox !important;
    opacity: 1;
    float: none;
    display: inline-block;    
    z-index: 1;
}

.tosContainer > a {
    margin: 0px 5px 0px 5px;
    text-decoration: underline;
}

option:disabled {
    color: #49494d;
}

option {
    padding-left: 10px;
}

#buy {
    width: 80%;
    margin: 5% auto;
    background: #2c2c32;
    padding: 25px;
    border-radius: 5px;
}

#buy h1 {
    margin: 10px 0 10px 0;
    font-size: 24px;
    border-bottom: 1px solid #fafafa2f;
}

#paypal-adv-button {
    margin-top: 50px;
}

option {
    color: #212121;
}

.checkout {
    margin-top: 10px;
}

.checkout-button{
    padding: 10px;
    margin-top: 10px;
    background-color: #7289da;
    border-radius: 5px;
    font-weight: normal;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.container > h1 {
    margin-top: 15px;
    font-size: 32px;
    font-weight: bold;
    color: #fafafa;
}

.container > p {
    font-size: 18px;
    color: #a5a5a5;
    font-weight: normal;
}

.check-join {
    background: #ca4545;
    margin-left: 15px;
}

.check-join:hover {
    background: #7289da !important;
}
 
@media screen and (max-width: 480px) {

    #desktopNav {
        display: none;
    }

    .cl-effect-15 {
        display: grid;
        grid-template-columns: 20% auto 20%;
        align-items: center;
    }

    #mobileMenuTrigger {
        display: grid;
        grid-column: 3 / 4;
    }

    #logoLink {
        grid-column: 1 / 2;
    }

    .inner2 {
        width: 100% !important;
    }

    #main2 {
        padding: 0;
    }

    .alt > img {
        text-align: center !important;
    }

    .alt > h2 {
        text-align: center;
    }

    .thumbnails .box {
        height: 600px;
    }

    .slick-prev {
        left: 0 !important;
        z-index: 1;
    }

    .slick-next {
        right: 0 !important;
        z-index: 1;
    }

}

