#packages {
    background-color: rgb(32, 32, 36);
    color: var(--text-color);
}

.card-background {
    background-color: #2c2c32;
}

.packages-title hr {
    border-bottom: var(--text-color) solid 1px;
    width: 100px;
    margin: 0.5rem auto;
}

.btn-primary {
    background-color: #7f92cf;
    border-color: #7f92cf;
    transition: background-color .25s;
}

.btn-primary:hover {
    background-color: rgba(127, 146, 207, 0);
    border-color: #7f92cf;
    transition: background-color .25s;
}