:root {
    --bold-text-color: white;
    --text-color: rgba(255, 255, 255, 0.75);
    --border-color: rgba(255, 255, 255, 0.25);
    font-size: 1.2rem;
}

.navbar {
    height: 9vh;
}

.navbar-brand {
    height: 7vh;
}

.navbar-brand img {
    height: 100%;
}

.nav-link {
    color: var(--text-color);
}

.nav-link:hover {
    color: rgb(127, 146, 207) !important;
}

.active {
    color: var(--bold-text-color);
}

.background-dark {
    background-color: rgb(27, 27, 31) !important;
}

.discord-name {
    margin-bottom: -0.2em;
}

.emphasize {
    font-weight: bold;
    color: #2ac56c !important;
}

#hero {
    padding-bottom: 5%;
    min-height: 50vh;
    background-image: url("/images/banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#hero:before {
    display: block;
    position: absolute;
    height: 50vh;
    width: 100%;
    top: 9vh;
    left: 0;
    background-color: #42424f;
    opacity: 0.45;
    content: '';
    z-index: 1;
}

#hero .content {
    color: var(--text-color);
    z-index: 2;
}

#hero h1 {
    font-size: 4rem;
    font-weight: bold;
    color: var(--bold-text-color);
}

#hero p {
    font-size: 1.5rem;
    font-weight: normal;
}

#hero h2 {
    font-size: 1.5rem;
    font-weight: normal;
}

.small-hero h1 {
    font-size: 3rem !important;
}

.small-hero p {
    font-size: 1rem !important;
}

.small-hero h2 {
    font-size: 1rem !important;
}

footer {
    padding: 7vh 3.5vw;
    margin-bottom: 0;
    color: rgba(var(--text-color), 0.75);
}

footer ul li p span {
    font-weight: bold;
}

.footer-items {
    margin-bottom: 0;
}

.footer-text {
    color: var(--text-color);
    margin: 0;
}

.footer-text span {
    color: var(--bold-text-color);
}

.footer-items hr {
    border-top: 1px solid var(--border-color);
    margin: 2em 0;
}

.footer-title {
    color: var(--bold-text-color);
}

.navbar-toggler {
    display: block;
}

.navbar-items-spread {
    display: none;
}

.navbar-collapse {
    background-color: rgb(27, 27, 31);
}

@media (min-width: 992px) {
    .navbar-toggler {
        display: none;
    }

    .navbar-items-spread {
        display: flex;
    }

    .navbar-collapse {
        display: none;
    }

    #hero {
        min-height: 70vh;
    }

    #hero:before {
        height: 70vh;
    }

    #hero h1 {
        font-size: 6rem;
    }

    #hero p {
        font-size: 2rem;
    }

    #hero h2 {
        font-size: 2rem;
    }

    .small-hero h1 {
        font-size: 4rem !important;
    }

    .small-hero p {
        font-size: 1.5rem !important;
    }

    .small-hero h2 {
        font-size: 1.5rem !important;
    }
}