<footer class="background-dark">
    <div class="d-flex justify-content-between">
            <p class="h2 footer-title">Contact information</p>
            <img src="/images/paypal.png" width="200" height="70">
        </div>
        <ul class="d-flex footer-items flex-column text-center list-unstyled">
            <li><p class="footer-text"><span>Discord:</span> 4Free#0001 | OHMelin#1337</p></li>
            <hr>
            <li><p class="footer-text"><span>Email:</span> Valoks@gmail.com</p></li>
            <hr>
        </ul>
        <p class="align-left footer-text">Valoks &copy; 2019</p>
</footer>