<header class="sticky-top">
    <nav class="navbar navbar-dark bg-dark background-dark">
        <a class="navbar-brand  mx-3" href="/"><img src="{{ icon }}" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav flex-row navbar-items-spread">
            <li class="nav-item mx-3">
                <a class="nav-link {% if current_page == 'index' %}active{% endif %}" href="/">Home</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link {% if current_page == 'contact' %}active{% endif %}" href="/contact">Contact</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link {% if current_page == 'advertise' %}active{% endif %}" href="/advertise">Advertise</a>
            </li>
            <li class="nav-item mx-3">
                {% if user %}
                <a class="nav-link" href="/logout">Logout</a>
                {% else %}
                <a class="nav-link" href="/login">Login</a>
                {% endif %}
            </li>
        </ul>
        <div class="collapse navbar-collapse p-3 text-center" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link {% if current_page == 'index' %}active{% endif %}" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if current_page == 'contact' %}active{% endif %}" href="/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if current_page == 'advertise' %}active{% endif %}" href="/advertise">Advertise</a>
                </li>
                <li class="nav-item">
                    {% if user %}
                    <a class="nav-link" href="/logout">Logout</a>
                    {% else %}
                    <a class="nav-link" href="/login">Login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
</header>