{% extends 'base.html' %}

{% set show_footer = True %}
{% set show_header = True %}
{% set current_page = 'advertise' %}

{% block title %}{{title}} | Main{% endblock %}

<!-- Head -->
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/assets/css/secondary.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
{% endblock %}

<!-- Body -->
{% block body %}
{{ super() }}

<!-- Hero Section -->
<section id="hero" class="w-100 d-flex align-items-center justify-content-center text-center small-hero">
    <div class="content">
        <h2 class="discord-name h2">Advertise with</h2>
        <h1 class="display-1">Valoks</h1>
        <p class="h2">Discord Advertisements & Bots</p>
        {#<h1 class="display-4">Advertise with <span class="display-1 emphasize">Valoks</span></h1>
        <p class="h2"> Hosting, Discord Advertisements & Bots<br/>#}
    </div>
</section>

<!-- Packages -->
{% if packages %}
{% include 'home/packages.html' %}
{% endif %}

{% endblock %}

<!-- Scripts -->
{% block scripts %}
{{ super() }}
<script src="/assets/js/Random.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/slick.min.js"></script>
<script defer src="/assets/js/slider.js"></script>
{% endblock %}