<div id="bots">
    <div id="main">
        <div class="inner">
            <!-- Development -->
            <h2 class="section-heading">Discord Bots</h2>
            <div class="thumbnails slider">
                <div class="box">
                    <a  class="image fit"><img src="/images/discord.jpg" alt="" /></a>
                    <div class="inner">
                        <h2 class="redText">Giveaway Bot</span>&nbsp;<span class="blackText">FREE</h2>
                        <li ALIGN=LEFT>Get all premium features for $5</li>
                        <h1></h1>
                        <a class="button style2 fit">Buy</a>
                    </div>
                </div>
                <div class="box">
                    <a  class="image fit"><img src="/images/discord.jpg" alt="" /></a>
                    <div class="inner">
                        <h2 class="redText">Reaction Role Bot</span>&nbsp;<span class="blackText">FREE</h2>
                        <li ALIGN=LEFT>Get all premium features for $5</li>
                        <h1></h1>
                        <a class="button style2 fit">Buy</a>
                    </div>
                </div>
                <div class="box">
                    <a  class="image fit"><img src="/images/discord.jpg" alt="" /></a>
                    <div class="inner">
                        <h2 class="redText">Moderation Bot</span>&nbsp;<span class="blackText">FREE</h2>
                        <li ALIGN=LEFT>Get all premium features for $5</li>
                        <h1></h1>
                        <a class="button style2 fit">Buy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>