{% extends 'base.html' %}

{% set show_footer = True %}
{% set show_header = True %}
{% set current_page = 'index' %}

{% block title %}{{title}} | Main{% endblock %}

<!-- Head -->
{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
{% endblock %}

<!-- Body -->
{% block body %}
{{ super() }}

<!-- Hero Section -->
<section id="hero" class="w-100 d-flex align-items-center justify-content-center text-center">
    <div class="content">
        {% if user %} <h2 class="discord-name h2">Welcome <span class="emphasize">{{ user.username }}</span> to</h2> {% endif %}
        <h1 class="display-1">Valoks</h1>
        <p class="h2">Hosting, Discord Advertisements & Bots</p>
    </div>
</section>

<!-- Servers -->
{% if servers %}
{% include 'servers.html' %}
{% endif %}

{% endblock %}

<!-- Scripts -->
{% block scripts %}
{{ super() }}
<script src="/assets/js/Random.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/slick.min.js"></script>
<script defer src="/assets/js/slider.js"></script>
{% endblock %}