<link rel="stylesheet" href="/assets/css/packages.css">

<div id="packages" class="text-center">
    <div class="col-xs-12 col-sm-10 col-md-12 col-xl-10 p-5 mx-auto">
        <div class="packages-title mb-5 d-flex flex-column justify-content-center">
            <h2>Discord Servers</h2>
            <hr>
        </div>
        <div class="row justify-content-center">
            {% for package in packages %}
                <div class="card card-background col-xs-12 col-sm-10 col-md-5 col-lg-4 col-xl-3 m-2 p-4">
                    <img class="card-img-top" src="{{ package.icon }}" alt="Card image">
                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title">{{ package.display_name }}</h4>
                        <p class="card-text">{{ '</br>'.join(package.description)|safe }}</p>
                        <a href="/purchase/{{ package.id }}" class="btn btn-primary align-self-center mt-auto">Purchase</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>