{% extends 'base.html' %}

{% set show_footer = False %}
{% set show_header = False %}

{% block title %}{{ title }} - Buy{% endblock %}

{% block body %}
<div id="buy">
    <h1>Setup your advertisement</h1>
    <form id="purchase" class="adv-form">
        <input type="hidden" id="package_id" name="package_id" value="{{ package_id }}">
        <p id="discord-link">Choose a server:</p>
        <select id="guild" name="guild" required>
            <option value="">None</option>
            {% for guild in guilds %}
                <option value={{ guild.id }}>{{ guild.name }}</option>
            {% endfor %}
        </select>
        <p id="adv-message-p">Custom advertisement message</p>
        <textarea id="message" name="message" cols="20" rows="5" maxlength="2000"
            placeholder="Advertisement message (max 2000 characters)" required></textarea>
        <h1>Choose a plan</h1>
        <select id="plan" name="plan" required>
            <option value="">None</option>
            {% for plan in plans %}
                <option value={{ plan.id }}>{{ plan.name }}</option>
            {% endfor %}
        </select>
        <h1>Privacy statement</h1>
        <div class="tosContainer"><input id="privacy" name="privacy" type="checkbox" required>We take your privacy seriously. We collect data to process your order and to provide updates about our network in line with our <a href="privacy.html">Privacy Policy.</a> By ticking this box you confirm you are over 16 years of age or have the permission of your guardian, and consent to us processing your data in this way.</div>
        <h1>Purchase</h1>
        <div class="tosContainer" style=""><input id="tos" name="tos" type="checkbox" required>I agree to the <a href="tos.html">Terms of Service</a> of this purchase.</div>
        <div class="checkout"><input class="checkout-button" type="submit" value="Continue To Checkout"></div>
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/assets/js/utils.js"></script>
<script src="/assets/js/buy.js"></script>
{% endblock %}